<!-- Footer -->
footer.py-4.bg-secondary.mt-auto.text-center.text-lg-start.bg-body-tertiary.text-muted
  //- <!-- Section: Social media -->
  //- section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom
  //-   <!-- Left -->
  //-   .me-5.d-none.d-lg-block
  //-     span Connectez-vous avec nous sur les réseaux sociaux :
  //-   <!-- Left -->

  //-   <!-- Right -->
  //-   div
  //-     a.me-4.text-reset(href="https://web.facebook.com/centralecasablanca?_rdc=1&_rdr")
  //-       i.fab.fa-facebook-f
  //-     a.me-4.text-reset(href="https://twitter.com/ECCasablanca")
  //-       i.fab.fa-twitter
  //-     a.me-4.text-reset(href="https://www.linkedin.com/company/3747130", target="_blank")
  //-       i.fab.fa-linkedin
  //-     a.me-4.text-reset(href="https://www.instagram.com/centralecasablanca/?hl=fr")
  //-       i.fab.fa-instagram
  //-     a.me-4.text-reset(href="https://www.tiktok.com/@ecolecentralecasablanca?lang=ar", target="_blank")
  //-       i.fab.fa-tiktok
  //-     a.me-4.text-reset(href="https://www.youtube.com/@centralecasablanca/videos")
  //-       i.fab.fa-youtube
  //- <!-- Section: Social media -->

  //- <!-- Section: Links  -->
  //- section
  //-   .container-fluid.p-5.p-xxl-3.pt-0.pb-0.text-center.text-md-start.mt-5
  //-     <!-- Grid row -->
  //-     .row.mt-3
  //-       <!-- Grid column -->
  //-       .col-12.col-md-4.col-lg-3.col-xl-3.mx-auto.mb-4.mb-md-0
  //-         <!-- Content -->
  //-         h6.text-uppercase.fw-bold
  //-           i.fas.fa-gem.me-3
  //-           | Centre de Recherche
  //-         p.pb-0.mb-0
  //-           | Le centre de recherche Systèmes Complexes et Interactions se consacre à l'innovation interdisciplinaire pour résoudre des problèmes complexes.
  //-       <!-- Grid column -->

  //-       <!-- Grid column -->
  //-       .col-6.col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4.mb-md-0
  //-         <!-- Links -->
  //-         h6.text-uppercase.fw-bold
  //-           | Navigation
  //-         p
  //-           a.text-reset(href="./index.html") Accueil
  //-         p
  //-           a.text-reset(href="./schedule.html") Planning
  //-         p
  //-           a.text-reset(href="./contact.html") Contact
  //-         p
  //-           a.text-reset(href="./posters.html") Posters
  //-         p.pb-0.mb-0
  //-           a.text-reset(href="./organization.html") Organisation
  //-       <!-- Grid column -->

  //-       <!-- Grid column -->
  //-       .col-6.col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4.mb-md-0
  //-         <!-- Links -->
  //-         h6.text-uppercase.fw-bold
  //-           | Liens utiles
  //-         p
  //-           a.text-reset(href="https://centrale-casablanca.ma/recherche/centre-de-recherche-systemes-complexes-et-interaction/le-centre-de-recherche/", target="_blank") Le centre de recherche
  //-         p
  //-           a.text-reset(href="https://centrale-casablanca.ma/recherche/centre-de-recherche-systemes-complexes-et-interaction/uters/", target="_blank") UTERs
  //-         p
  //-           a.text-reset(href="https://centrale-casablanca.ma/recherche/centre-de-recherche-systemes-complexes-et-interaction/chaires/", target="_blank") Chaire
  //-         p.pb-0.mb-0
  //-           a.text-reset(href="https://centrale-casablanca.ma/recherche/centre-de-recherche-systemes-complexes-et-interaction/nos-enseignants-chercheurs/", target="_blank") Nos enseignants-chercheurs
  //-       <!-- Grid column -->

  //-       <!-- Grid column -->
  //-       .col-12.col-md-3.col-lg-4.col-xl-4.mx-auto.mb-4.mb-md-0
  //-         <!-- Links -->
  //-         h6.text-uppercase.fw-bold
  //-           | Contact
  //-         p.small
  //-           a.text-reset(href="https://www.google.com/maps/place/%C3%89cole+centrale+Casablanca/@33.4800803,-7.6226301,17z/data=!3m1!4b1!4m6!3m5!1s0xda62dfb0bd98e83:0x6c5587c807a6f58e!8m2!3d33.4800758!4d-7.6204414!16s%2Fg%2F11b6_gwjxz")
  //-               i.fas.fa-home.me-3
  //-               | Ville Verte Côté Latéral Est à la forêt Boukoura, Casablanca, Maroc
  //-         p.small
  //-           a.text-reset(href="mailto:contact@centrale-casablanca.ma")
  //-               i.fas.fa-envelope.me-3
  //-               | contact@centrale-casablanca.ma
  //-         p.small
  //-           i.fas.fa-phone.me-3
  //-           a.text-reset(href="tel:+212 (0) 5 22 49 35 00") +212 (0) 5 22 49 35 00
  //-       //-   p
  //-       //-     i.fas.fa-print.me-3
  //-       //-     | +212 522 23 45 68
  //- <!-- Section: Links  -->

  <!-- Copyright -->
  .text-center.p-1.pt-md-4
    | © 2024 2024 Winter Data Science School - All Rights Reserved
    br
    //- | . Code source ouvert sous licence MIT sur 
    //- a.text-reset.fw-bold(href="https://github.com/hermann-web/jrecc-website") GitHub
    //- | . Tout texte, média et autre contenu sont protégés par le droit d'auteur de l'École Centrale Casablanca.
    span.smaller.p-4
      | Le code source de ce site est disponible sur 
      a.text-reset.fw-bold(href="https://github.com/hermann-web/jrecc-website") GitHub
      | et peut être réutilisé sous licence MIT. Par contre, le contenu du site, y compris les médias, les illustrations et autres éléments visuels, est la propriété exclusive de l'École Centrale Casablanca et ne peut être utilisé sans autorisation.
  <!-- Copyright -->
