<!-- Footer -->
footer.py-1.bg-white.mt-auto.text-center.text-lg-start.bg-body-tertiary.text-muted
  <!-- Copyright -->
  .text-center
    | © 2024 Winter Data Science School - All Rights Reserved
  <!-- Copyright -->
