<!-- Footer -->
footer.mb-1.mt-5.text-center.text-lg-start.bg-body-tertiary.text-muted
  <!-- Copyright -->
  .text-center
    | © 2025-2026 Spring Data Science School - All Rights Reserved
  <!-- Copyright -->
