// 
// Sidenav Dark
// 

// Dark theme for sidenav
// Append .sb-sidenav-dark to .sb-sidenav to use

.sb-sidenav-dark {
    background-color: $dark;
    color: rgba(255, 255, 255, 0.5);

    .sb-sidenav-menu {
        .sb-sidenav-menu-heading {
            color: rgba(255, 255, 255, 0.25);
        }

        .nav-link {
            color: rgba(255, 255, 255, 0.5);

            .sb-nav-link-icon {
                color: rgba(255, 255, 255, 0.25);
            }

            .sb-sidenav-collapse-arrow {
                color: rgba(255, 255, 255, 0.25);
            }

            &:hover {
                color: #fff;
            }

            &.active {
                color: #fff;

                .sb-nav-link-icon {
                    color: #fff;
                }
            }
        }
    }

    .sb-sidenav-footer {
        background-color: #343a40;
    }
}