// 
// Sidenav Light
// 

// Light theme for sidenav
// Append .sb-sidenav-light to .sb-sidenav to use

.sb-sidenav-light {
    background-color: $light;
    color: $dark;

    .sb-sidenav-menu {
        .sb-sidenav-menu-heading {
            color: $gray-500;
        }

        .nav-link {
            color: $dark;

            .sb-nav-link-icon {
                color: $gray-500;
            }

            .sb-sidenav-collapse-arrow {
                color: $gray-500;
            }

            &:hover {
                color: $primary;
            }

            &.active {
                color: $primary;

                .sb-nav-link-icon {
                    color: $primary;
                }
            }
        }
    }

    .sb-sidenav-footer {
        background-color: $gray-200;
    }
}