

<link rel="manifest" href="/site.webmanifest">
<meta name="robots" content="noindex">
<meta name="trace-attributes" content="{&quot;next.appdir&quot;:true}">
<link rel="alternate" type="application/rss+xml" href="https://vercel.com/atom">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Vercel">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta property="og:title" content="Dashboard">
<meta property="og:image" content="https://assets.vercel.com/image/upload/front/vercel/twitter-card.png">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@vercel">
<meta name="twitter:title" content="Dashboard">
<meta name="twitter:image" content="https://assets.vercel.com/image/upload/front/vercel/twitter-card.png">
<link rel="icon shortcut" href="https://next-genai-xemines.com/assets/favicon.ico" type="image/x-icon">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#0a0a0a">
<meta name="color-scheme" content="dark light">
<meta name="next-size-adjust">
