block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Join the Winter Data Science School 2025 to explore Next-Generation AI techniques and their economic applications and network with industry experts')
    meta(name='author', content='EMINES, OCP, Polytechnique')
    meta(name='keywords', content='AI, Data Science, Winter School, Next Generation AI, Economic Applications, EMINES, UM6P')
    meta(name='language', content='en')
    //- Ensure the page is indexed and links are followed
    meta(name='robots', content='index, follow')

    link(rel='icon', type='image/x-icon', href='./assets/favicon.ico')
    link(rel="icon shortcut", href="https://next-genai-xemines.com/assets/favicon.ico", type="image/x-icon")
    link(rel="logo", href="https://next-genai-xemines.com/assets/favicon/logo-57x57.png", sizes="57x57")
    link(rel="logo", href="https://next-genai-xemines.com/assets/favicon/logo-60x60.png", sizes="60x60")
    link(rel="logo", href="https://next-genai-xemines.com/assets/favicon/logo-72x72.png", sizes="72x72")
    link(rel="logo", href="https://next-genai-xemines.com/assets/favicon/logo-76x76.png", sizes="76x76")
    link(rel="logo", href="https://next-genai-xemines.com/assets/favicon/logo-114x114.png", sizes="114x114")
    link(rel="logo", href="https://next-genai-xemines.com/assets/favicon/logo-120x120.png", sizes="120x120")
    link(rel="logo", href="https://next-genai-xemines.com/assets/favicon/logo-144x144.png", sizes="144x144")
    link(rel="logo", href="https://next-genai-xemines.com/assets/favicon/logo-152x152.png", sizes="152x152")
    link(rel="logo", href="https://next-genai-xemines.com/assets/favicon/logo-180x180.png", sizes="180x180")
    link(rel="logo", href="https://next-genai-xemines.com/assets/favicon/logo-256x256.png", sizes="256x256")
    link(rel='apple-touch-icon', href='https://next-genai-xemines.com/assets/favicon/logo-512x512.png', sizes='512x512')
    link(rel='canonical', href='https://next-genai-xemines.com')

    //- General Metadata
    //- Create a manifest file for your app
    //- link(rel="manifest", href="/site.webmanifest")

    //- Open Graph Metadata
    meta(property="og:title", content="Winter School | Next-Gen AI & Economic Applications")
    meta(property="og:site_name", content="Winter Data Science School")
    meta(property="og:description", content="Join us for cutting-edge AI discussions and workshops.")
    meta(property="og:image", content="https://next-genai-xemines.com/assets/social/twitter-post-1600x900.png")
    meta(property="og:type", content="website")
    meta(property="og:locale", content="en_US")
    meta(property="og:url", content="https://next-genai-xemines.com")

    //- Twitter Card Metadata
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@winterschooldatascience")
    meta(name="twitter:title", content="Winter Data Science School 2025: Next Generation AI and Economic Applications")
    meta(name="twitter:description", content="Join us for cutting-edge AI discussions and workshops.")
    meta(name="twitter:image", content="https://next-genai-xemines.com/assets/social/twitter-post-1600x900.png") 

    //- Apple Mobile Web App
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title", content="Data Science School")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name='theme-color', content='#720da8')
    meta(name='color-scheme', content='dark light')

    //- Additional Links
    //- link(rel="alternate", type="application/rss+xml", href="https://yourwebsite.com/rss.xml") //- RSS feed if applicable

    //- Structured Data
    script(type='application/ld+json').
        {
            '@context': 'http://schema.org',
            '@type': 'Event',
            'name': 'Winter Data Science School 2025: Next Generation AI and Economic Applications',
            'startDate': '2025-02-24T09:00:00+01:00',
            'endDate': '2025-02-25T17:00:00+01:00',
            'eventAttendanceMode': 'https://schema.org/OfflineEventAttendanceMode',
            'location': {
                '@type': 'Place',
                'name': 'EMINES, UM6P',
                'address': {
                    '@type': 'PostalAddress',
                    'streetAddress': 'Ben Guerir',
                    'addressLocality': 'Ben Guerir',
                    'addressCountry': 'MA'
                }
            },
            'image': 'https://next-genai-xemines.com/assets/social/twitter-post-1600x900.png',
            'description': 'Join us for cutting-edge AI discussions and workshops.',
            'organizer': {
                '@type': 'Organization',
                'name': 'EMINES, OCP, Polytechnique',
                'url': 'https://next-genai-xemines.com'
            }
        }
