nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav.text-secondary
    
            //- .sb-sidenav-menu-heading.d-none.d-sm-block
            //-     | Navigation

            //- add some space right before the links
            .d-sm-block.p-2
        
            a.nav-link(href='index.html')
                .sb-nav-link-icon
                    i.fas.fa-home
                | Home
        
            a.nav-link(href='schedule.html')
                .sb-nav-link-icon
                    i.fas.fa-calendar-alt
                | Schedule
        
            a.nav-link(href='registration.html')
                .sb-nav-link-icon
                    i.fas.fa-user-plus
                | Registration
        
            a.nav-link(href='speakers.html')
                .sb-nav-link-icon
                    i.fas.fa-user-tie
                | Speakers & Panelists
        
            a.nav-link(href='organization.html')
                .sb-nav-link-icon
                    i.fas.fa-users
                | Organizers
                
            a.nav-link(href='partners.html')
                .sb-nav-link-icon
                    i.fas.fa-handshake
                | Partners

            a.nav-link(href='poster-submission.html')
                .sb-nav-link-icon
                    i.fas.fa-microscope
                | Posters
        
            a.nav-link(href='contact.html')
                .sb-nav-link-icon
                    i.fas.fa-envelope
                | Contact
                
            //- .sb-sidenav-menu-heading.d-none.d-sm-block
            //-     | À propos

            //- a.nav-link.collapsed(href='#', data-bs-toggle='collapse' data-bs-target='#collapseLayouts3' aria-expanded='false' aria-controls='collapseLayouts')
            //-     .sb-nav-link-icon
            //-         i.fas.fa-book
            //-     | Ressources
            //-     .sb-sidenav-collapse-arrow
            //-         i.fas.fa-angle-down
            //- #collapseLayouts3.collapse.show(aria-labelledby='headingOne', data-bs-parent='#sidenavAccordion')
            //-     nav.sb-sidenav-menu-nested.nav
            //-         a.nav-link(href='posters.html') Posters
            //-         a.nav-link(href='organization.html') Organisation
            
            a.nav-link.collapsed(href='#', data-bs-toggle='collapse' data-bs-target='#collapseLayouts4' aria-expanded='false' aria-controls='collapseLayouts2')
                .sb-nav-link-icon
                    i.fas.fa-clock
                | Previous Events
                .sb-sidenav-collapse-arrow
                    i.fas.fa-angle-down
            #collapseLayouts4.collapse(aria-labelledby='headingOne', data-bs-parent='#sidenavAccordion')
                nav.sb-sidenav-menu-nested.nav(style="padding-right:2rem")
                    a.nav-link(href='https://next-genai-xemines.com', target="_blank") Next Generation AI and Economic Applications
                    a.nav-link(href='https://research.centrale-casablanca.net/winter-school-2024-generative-ai', target="_blank") Winter School Generative AI
                    a.nav-link(href='https://research.centrale-casablanca.net/spring-school-2023-data-driven-decision-making', target="_blank") Data Driven Decision Making
                    a.nav-link(href='https://research.centrale-casablanca.net/techinnov', target="_blank") Tech'Innov Days: AI For Africa
                    a.nav-link(href='https://research.centrale-casablanca.net/spring2022', target="_blank") Spring School Data Science

            //- a.nav-link.collapsed(href='#', data-bs-toggle='collapse' data-bs-target='#collapseLayouts' aria-expanded='false' aria-controls='collapseLayouts')
            //-     .sb-nav-link-icon
            //-         i.fas.fa-columns
            //-     | Layouts
            //-     .sb-sidenav-collapse-arrow
            //-         i.fas.fa-angle-down
            //- #collapseLayouts.collapse(aria-labelledby='headingOne', data-bs-parent='#sidenavAccordion')
            //-     nav.sb-sidenav-menu-nested.nav
            //-         a.nav-link(href='layout-static.html') Static Navigation
            //-         a.nav-link(href='layout-sidenav-light.html') Light Sidenav
            
            //- a.nav-link.collapsed(href='#', data-bs-toggle='collapse' data-bs-target='#collapsePages' aria-expanded='false' aria-controls='collapsePages')
            //-     .sb-nav-link-icon
            //-         i.fas.fa-book-open
            //-     | Pages
            //-     .sb-sidenav-collapse-arrow
            //-         i.fas.fa-angle-down
            //- #collapsePages.collapse(aria-labelledby='headingTwo', data-bs-parent='#sidenavAccordion')
            //-     nav.sb-sidenav-menu-nested.nav.accordion#sidenavAccordionPages
            //-         a.nav-link.collapsed(href='#', data-bs-toggle='collapse' data-bs-target='#pagesCollapseAuth' aria-expanded='false' aria-controls='pagesCollapseAuth')
            //-             | Authentication
            //-             .sb-sidenav-collapse-arrow
            //-                 i.fas.fa-angle-down
            //-         #pagesCollapseAuth.collapse(aria-labelledby='headingOne', data-bs-parent='#sidenavAccordionPages')
            //-             nav.sb-sidenav-menu-nested.nav
            //-                 a.nav-link(href='login.html') Login
            //-                 a.nav-link(href='register.html') Register
            //-                 a.nav-link(href='password.html') Forgot Password
            //-         a.nav-link.collapsed(href='#', data-bs-toggle='collapse' data-bs-target='#pagesCollapseError' aria-expanded='false' aria-controls='pagesCollapseError')
            //-             | Error
            //-             .sb-sidenav-collapse-arrow
            //-                 i.fas.fa-angle-down
            //-         #pagesCollapseError.collapse(aria-labelledby='headingOne', data-bs-parent='#sidenavAccordionPages')
            //-             nav.sb-sidenav-menu-nested.nav
            //-                 a.nav-link(href='401.html') 401 Page
            //-                 a.nav-link(href='404.html') 404 Page
            //-                 a.nav-link(href='500.html') 500 Page
                            
            //- .sb-sidenav-menu-heading
            //-     | Addons
            
            //- a.nav-link(href='charts.html')
            //-     .sb-nav-link-icon
            //-         i.fas.fa-chart-area
            //-     | Charts
                
            //- a.nav-link(href='tables.html')
            //-     .sb-nav-link-icon
            //-         i.fas.fa-table
            //-     | Tables
                        
    //- .sb-sidenav-footer
        
    //-     .small Logged in as:
    //-     | Hermann
