nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark.p-0

    // Navbar Brand
    //- a.navbar-brand.ps-3.d-flex.align-items-center(href='index.html')
    //-     | Winter School
    a.navbar-brand.ps-3.d-flex.align-items-center(href='index.html').h-100
        .div.d-md-inline-block.me-2.me-md-3.my-2.my-md-0.h-75.ms-2.ms-md-3.float-start
            img.logo.img-fluid.h-100(src='assets/visual/logo.png', alt='Winter School').float-start

    // Sidebar Toggle
    button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0.me-4.me-lg-0(href='#!')
        i.fas.fa-bars
    
    // Spot for Event Name
    .div.event-name.w-50.d-none.d-sm-flex.text-primary.fw-bold
        | Winter School 2025: Next Generation AI and Economic Applications

    // Registration Button (Smaller, rounded, and fancy, centered vertically)
    .div.d-flex.align-items-center.ms-auto.me-1.me-md-2.my-1.my-md-0.h-100
        a#registrationButton.btn.btn-lg.btn-primary.text-lighter.px-2.py-1.rounded-pill.fs-6(href='registration.html')
            | Register

    //- // Logo
    //- .div.d-md-inline-block.ms-auto.me-2.me-md-3.my-2.my-md-0.h-75
    //-     img.logo.img-fluid.h-100(src='assets/img/ecc.png', alt='Centre de Recherche')

    // Logo
    .div.d-md-inline-block.ms-auto.me-2.me-md-3.my-2.my-md-0.h-75
        img.logo.img-fluid.h-100(src='assets/firms/emines-rmbg.png', alt='EMINES')

    // Logo
    .div.d-md-inline-block.ms-auto.me-2.me-md-3.my-2.my-md-0.h-75
        img.logo.img-fluid.h-100(src='assets/firms/ocp.png', alt='OCP')

    // Logo
    .div.d-md-inline-block.ms-auto.me-2.me-md-3.my-2.my-md-0.h-75
        img.logo.img-fluid.h-100(src='assets/firms/polytechnique-rmbg.png', alt='Ecole Polytechnique')

    //- // Navbar
    //- ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4
    //-     li.nav-item.dropdown
    //-         a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
    //-             i.fas.fa-user.fa-fw
    //-         ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
    //-             li
    //-                 a.dropdown-item(href='#!') Settings
    //-             li
    //-                 a.dropdown-item(href='#!') Activity Log
    //-             li
    //-                 hr.dropdown-divider
    //-             li
    //-                 a.dropdown-item(href='#!') Logout

