extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Contact Us'
    - var pageMainTitle = 'Contact Us'
    - var pageSubTitle = "Get in touch with us for any inquiries, feedback, or support"
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container.d-flex.min-vh-100
        .col-0.col-lg-1.emp1 &nbsp;
        .col-12.col-lg-10.emp1.mt-3
            
            include includes/page-header.pug

            ul.list-unstyled.text-center.mt-4
                li.mb-3
                    i.fas.fa-phone-alt.mr-2
                    span.text-decoration-none Phone : +212 (0) 671 760 522 / +212 (0) 684 964 021
                //- li.mb-3
                //-     i.fas.fa-phone-alt.mr-2
                //-     span.text-decoration-none Téléphone : +212 (0) xxx xxx xxx
                //- li.mb-3
                //-     i.fas.fa-envelope.mr-2
                //-     a.text-decoration-none(href="mailto:winterschooldatascience@gmail.com") winterschooldatascience@gmail.com
                li.mb-3
                    i.fas.fa-envelope.mr-2
                    a.text-decoration-none(href="mailto:winterschooldatascience@gmail.com") winterschooldatascience@gmail.com
                
                // Social Media Section
                .row.justify-content-center.mt-4
                    .col-md-6
                        .d-flex.justify-content-center
                            a.btn.btn-outline-info.mx-2(href="https://www.linkedin.com/company/winter-school-generative-ai/") Follow Us on LinkedIn

        .col-0.col-lg-1.emp1 &nbsp;
