extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Home'
    - var index = true
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.min-vh-100.mb-5
        // Hero Section with Video Background and Image Fallback
        .row.hero-section.text-white.d-flex.align-items-center.justify-content-center(style="position: relative; height: 100vh;top: -56px;")
            
            // Background Video with Image Fallback
            .background-image(style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url('assets/visual/teaser-thumbnail.png') center/cover no-repeat; z-index: -3")
            video.background-video(style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -2; object-fit: cover; object-position: center; width: 100%; height: 100%; padding: 0" autoplay="autoplay" loop muted playsInline poster="assets/visual/teaser-thumbnail.png")
                source(src="assets/visual/teaser-v5.mp4" type="video/mp4")
                source(src="assets/visual/teaser-v5.webm" type="video/webm")
                source(src="assets/visual/teaser-v5.ogv" type="video/ogg")

            //- // Content Over Video
            //- .overlay-content.text-center(style="z-index: 1")
            //-     h1.text-uppercase.fw-bold Welcome to the Winter School 2025
            //-     p.lead Join us for a journey into the future of AI and Economics.

            // Dark Overlay
            .background-overlay(style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; background-color: rgba(0, 0, 0, 0.6);")
        
            // Text Overlay (Positioned Above Video)
            .col-12.text-center.py-5.overlay(style="position: relative; z-index: 1;")
                h1.mt-5.font-weight-bold Join the Winter Data Science School
                p.lead Explore Next Generation AI, Network with Experts, and Gain Practical Skills.

                // Practical Info: Date, Venue, and Contact
                .row.justify-content-center.mt-4
                    .col-md-3.text-center.feature-hover
                        i.fas.fa-calendar-alt.fa-2x.mb-2
                        p February 24-25, 2025

                    .col-md-3.text-center.feature-hover
                        i.fas.fa-map-marker-alt.fa-2x.mb-2
                        div
                            a.text-decoration-none(target="_blank" href="https://www.google.com/maps/dir//EMINES+%E2%80%93+SCHOOL+OF+INDUSTRIAL+MANAGEMENT,+Ben+Guerir/@32.2184221,-8.0059827,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0xdaf7a3f90f200f3:0x45ee66ce93fdf2cb!2m2!1d-7.935942!2d32.2184414!3e2") EMINES, UM6P: Université Mohammed VI Polytechnique, Ben Guerir

                    .col-md-3.text-center.feature-hover
                        i.fas.fa-phone-alt.fa-2x.mb-2
                        p winterschooldatascience@gmail.com

                // Call to Action Buttons
                .cta-buttons.mt-4
                    a.btn.btn-lg.btn-primary(target="_blank", href="./registration.html") Register Now
                    a.btn.btn-lg.btn-outline-secondary.ml-3(target="_blank", href="./schedule.html") View Program

        // About Section with Sleek Design and Icons
        .row.about-section.mt-5.text-dark
            .col-12
                h2.text-center.text-light.mb-4 About the Winter School
                p.text-center Our Winter Data Science School focuses on Next Generation AI and its Economic Applications. We aim to provide deep insights into the latest techniques, foster networking, and offer practical skills.
                p Over two days, participants will engage in expert-led sessions, including Charles-Albert Lehalle on AI in finance, and presentations by Michael Jordan and Yann LeCun, offering valuable insights into the transformation of AI products and its societal impact.
                p.text-center.mb-4 Stay connected through LinkedIn!
                div.d-flex.justify-content-center
                    a.btn.btn-outline-secondary(target="_blank", href="https://www.linkedin.com/company/winter-school-generative-ai/") LinkedIn

        // Key Features Section - Grid Layout with Icons and Descriptions
        .row.features-section.hover-effect.text-white.bg-primary.mt-5
            .col-12.text-center.py-5.text-light
                h2 Highlights of the Next-Gen AI Winter School
            .col-md-3.text-center.feature-hover
                i.fas.fa-chalkboard-teacher.fa-3x.mb-3
                h3 Keynote Presentations
                p Explore the latest advancements in Next Generation AI and economic applications and gain insights from globally recognized speakers.
            .col-md-3.text-center.feature-hover
                i.fas.fa-briefcase.fa-3x.mb-3
                h3 Business Case Studies
                p Discover how Next Generation AI is revolutionizing industries through impactful real-world examples.
            .col-md-3.text-center.feature-hover
                i.fas.fa-users.fa-3x.mb-3
                h3 Dynamic Panel Discussions
                p Engage with experts in lively discussions about economic applications of Next Generation AI and its transformative impact on society.
            .col-md-3.text-center.feature-hover
                i.fas.fa-podcast.fa-3x.mb-3
                h3 Networking Opportunities
                p Connect with researchers, industry leaders, and innovators while exploring groundbreaking AI research and ideas in our interactive poster sessions.

        // Audience Section with Creative Layout and Icons
        .row.audience-section.hover-effect.mt-5.text-dark
            .col-12
                h2.text-center.text-light.mb-4 Who Should Attend
                p.text-center.mb-4 This Next-Gen AI Winter School is designed for anyone passionate about the future of AI and its Economic Applications. Whether you're looking to dive deep into Next Generation AI or expand your network, this is the perfect opportunity.
                
                .row.justify-content-center
                    .col-md-4.text-center.feature-hover.pt-2
                        i.fa-solid.fa-graduation-cap.fa-3x.mb-3(style="color: #f5c542;")
                        h3 PhD and Master's Students
                        p.text-muted Stay ahead of the curve in AI research and innovations.
                    .col-md-4.text-center.feature-hover.pt-2
                        i.fa-solid.fa-user-tie.fa-3x.mb-3(style="color: #1e90ff;")
                        h3 Engineers & Data Scientists
                        p.text-muted Engage with cutting-edge technologies and apply them to real-world problems.
                    .col-md-4.text-center.feature-hover.pt-2
                        i.fa-solid.fa-lightbulb.fa-3x.mb-3(style="color: #28a745;")
                        h3 Entrepreneurs & Innovators
                        p.text-muted Learn how AI is transforming industries and how to leverage it for new ventures.
                
                .row.justify-content-center.mt-4
                    .col-md-4.text-center.feature-hover.pt-2
                        i.fa-solid.fa-business-time.fa-3x.mb-3(style="color: #ff6347;")
                        h3 Industry Professionals
                        p.text-muted Network with leading AI professionals and discover the future of AI in business.
                    //- .col-md-4.text-center
                    //-     i.fa-solid.fa-users.fa-3x.mb-3(style="color: #6f42c1;")
                    //-     h3 Academics & Students
                    //-     p.text-muted Explore new AI methodologies and enhance your learning journey.


        // Venue Section with Modern Typography and Interactive Map
        .row.venue-section.hover-effect.mt-5.text-dark
            .col-12.feature-hover
                h2.text-center.text-light.mb-4 Venue
                p.text-center.text-dark.mb-4 
                    | Mark your calendar! The Next-Gen AI Winter School will take place on February 24-25, 2025, in the main room of the Conference Center at
                    span.fw-bold 
                        a.text-decoration-none(target="_blank", href="https://www.google.com/maps/dir//EMINES+%E2%80%93+SCHOOL+OF+INDUSTRIAL+MANAGEMENT,+Ben+Guerir/@32.2184221,-8.0059827,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0xdaf7a3f90f200f3:0x45ee66ce93fdf2cb!2m2!1d-7.935942!2d32.2184414!3e2") EMINES, UM6P: Université Mohammed VI Polytechnique, Ben Guerir

        //-             .col-md-6.text-center
        //-                 a(href="https://www.google.com/maps/dir//Ecole+Centrale+Casablanca,+Ville+Verte+C%C387c807a6f58e!2m2!1d-7.6204414!2d33.4800758!3e2" target="_blank")
        //-                     img(src="assets/images/google-map.png", alt="Google Maps", class="img-fluid", style="max-width: 100%; height: auto; border: 1px solid #ddd; border-radius: 8px;")
        //-                     p.text-muted.mt-2 View on Google Maps

        //- // Optional: Add a Background Image to the Venue Section for a Dynamic Look
        //- .row.venue-section.bg-light.mt-5.text-dark
        //-     .col-12.text-center.pt-5.pb-5(style="background: url('assets/visual/venue-background.jpg') center/cover no-repeat;")
        //-         h2.text-center.text-light.mb-4 Venue Details
        //-         p.text-center.text-light A truly immersive experience at one of the top innovation hubs in Morocco. 


        // Partners Section with Carousel and Modern Controls
        .row.partners-section.mt-5(style="height: 25vh; overflow: hidden;")
            .col-12.text-center.text-dark
                h2.text-light.mb-4 Our Partners
                .carousel.slide#partnersCarousel(data-bs-ride="carousel")
                    .carousel-inner.partner-logo
                        .carousel-item.active
                            .row
                                .col-4.d-flex
                                    img(src="assets/firms/emines.png", alt="EMINES", class="d-block mx-auto")
                                .col-4.d-flex
                                    img(src="assets/firms/ocp.png", alt="OCP", class="d-block mx-auto")
                                .col-4.d-flex
                                    img(src="assets/firms/polytechnique.png", alt="Ecole Polytechnique (l'X)", class="d-block mx-auto")
                        .carousel-item.partner-logo
                            .row
                                .col-4.d-flex
                                    img(src="assets/firms/norma-horizontal-noir.png", alt="NORMA", class="d-block mx-auto")
                                .col-4.d-flex
                                    img(src="assets/firms/meta.svg", alt="META", class="d-block mx-auto")
                                .col-4.d-flex
                                    img(src="assets/firms/siana.png", alt="SIANA", class="d-block mx-auto")
                        .carousel-item.partner-logo
                            .row
                                .col-4.d-flex
                                    img(src="assets/firms/essec.png", alt="ESSEC", class="d-block mx-auto")
                                .col-4.d-flex
                                    img(src="assets/firms/ai-movement.png", alt="Ai Movement", class="d-block mx-auto")
                                .col-4.d-flex
                                    img(src="assets/firms/hubfrance.png", alt="Hub France AI", class="d-block mx-auto")
                        .carousel-item.partner-logo
                            .row
                                .col-4.d-flex
                                    img(src="assets/firms/lighton.svg", alt="LightOn", class="d-block mx-auto", style="background-color: rgb(45, 64, 78)")
                                .col-4.d-flex
                                    img(src="assets/firms/berkeley.svg", alt="University of California, Berkeley", class="d-block mx-auto")
                                .col-4.d-flex
                                    img(src="assets/firms/mbzuai.svg", alt="MBZUAI", class="d-block mx-auto", style="background-color: #828282")
                        .carousel-item.partner-logo
                            .row
                                .col-4.d-flex
                                    img(src="assets/firms/inria.png", alt="INRIA", class="d-block mx-auto")
                                .col-4.d-flex
                                    img(src="assets/firms/orange.png", alt="Orange EMEA", class="d-block mx-auto")
                                .col-4.d-flex
                                    img(src="assets/firms/um6p.png", alt="UM6P", class="d-block mx-auto")
                        .carousel-item.partner-logo
                            .row
                                .col-4.d-flex
                                    img(src="assets/firms/founder-institute.png", alt="Founder Institute", class="d-block mx-auto")
                                .col-4.d-flex
                                    img(src="assets/firms/oecd.svg", alt="OECD Network of Experts (ONE.AI)", class="d-block mx-auto", style="background-color:#142f4e")
                                .col-4.d-flex
                                    img(src="assets/firms/oncf.png", alt="ONCF", class="d-block mx-auto")
                        .carousel-item.partner-logo
                            .row
                                .col-4.d-flex
                                    img(src="assets/firms/emsi.png", alt="EMSI", class="d-block mx-auto")
                    .carousel-control-prev(href="#partnersCarousel", role="button", data-bs-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.visually-hidden Previous
                    .carousel-control-next(href="#partnersCarousel", role="button", data-bs-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.visually-hidden Next


        // Registration Section with Call to Action
        .row.registration-section.mt-5.text-dark
            .col-12.text-center.text-dark
                h2(id="registration").text-light.mb-4 Registration
                p.text-center.mb-4 Registration is now open. Don't miss your chance to participate in this premier event on Next Generation AI !
                
                // Call to Action Buttons with Emphasis
                .cta-buttons.mt-4
                    a.btn.btn-lg.btn-primary(target="_blank", href="./registration.html") Register Now
                    a.btn.btn-lg.btn-outline-secondary.ml-3(target="_blank", href="./schedule.html") View Program

                //- // Additional Info
                //- p.mt-3.text-center.font-italic Limited spots available! Secure your place today.

        .row.usefull-links.hover-effect.mt-5.text-dark.mb-5
            .col-md-2
            .col-md-8.text-center.text-dark.card.feature-hover
                .card-body
                    h2.text-light.mb-4 Useful Links
                    .mb-4.text-dark
                    p Explore more information and resources:
                    ul.list-unstyled
                        li
                            a.text-decoration-none(href="registration.html", target="_blank") Registration Details
                            |  - Register now to secure your spot at the Winter School.
                        li
                            a.text-decoration-none(href="./schedule.html", target="_blank") Program
                            |  - Check the detailed schedule of the Next-Gen AI Winter School.
                        li
                            a.text-decoration-none(href="./speakers.html", target="_blank") Our Speakers
                            |  - Discover the experts leading our discussions.
                        li
                            a.text-decoration-none(href="./organization.html", target="_blank") Organization Page
                            |  - Learn about our dedicated team organizing the event.
                        li
                            a.text-decoration-none(href="./posters.html", target="_blank") Posters Info
                            |  - Discover the latest AI research through our poster presentations.
                        li
                            a.text-decoration-none(href="./contact.html", target="_blank") Contact Us
                            |  - Have questions about the Winter Data Science School 2025 ? Feel free to contact us.
                        //- li
                        //-     a.text-decoration-none(target="_blank", href="./assets/visual/flyer-winter-school-feb-2025.png") Flyer (jpg)
                        //-     |  - View the flyer for more context on the Winter School.
            .col-md-2
        

        // Map Section
        .row.justify-content-center.mt-4
            .col-md-10.px-4
                h3.fw-bold.text-center.text-light Find Us
                iframe(width="100%" height="400" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3375.47251621621!2d-7.938516925242573!3d32.21844137390208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdaf7a3f90f200f3%3A0x45ee66ce93fdf2cb!2sEmines%20%E2%80%93%20School%20Of%20Industrial%20Management!5e0!3m2!1sen!2sus!4v1731409876490!5m2!1sen!2sus")
                    .iframe-caption.text-center.mt-2 Text/Map of the event location on Next Generation AI.


        .row.faq-section.mt-5.text-dark
            .col-12.text-center.text-dark.bg-transparent
                h2.text-light.mb-4 Frequently Asked Questions (FAQ)
                .accordion(id="faqAccordion")
                    //- .accordion-item.mb-3
                    //-     .accordion-header
                    //-         button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq1", aria-expanded="false", aria-controls="faq1")
                    //-             | When and where is the Winter School taking place?
                    //-     .accordion-collapse.collapse#faq1
                    //-         .accordion-body
                    //-             | The Winter Data Science School will be held on 24-25 February 2025 at Mohammed VI Polytechnic University in Ben Guerir, Morocco.

                    .accordion-item.mb-3
                        .accordion-header
                            button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq2", aria-expanded="false", aria-controls="faq2")
                                | What are the check-in and check-out times for accommodations?
                        .accordion-collapse.collapse#faq2
                            .accordion-body
                                ul.list-unstyled
                                    li Check-in: After 14:00 GMT+1 on Sunday, 23rd February, or Monday, 24th February.
                                    li Check-out: Before 12:00 GMT+1 on your departure day.

                    //- .accordion-item.mb-3
                    //-     .accordion-header
                    //-         button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq3", aria-expanded="false", aria-controls="faq3")
                    //-             | Is this program suitable for beginners in Generative AI?
                    //-     .accordion-collapse.collapse#faq3
                    //-         .accordion-body
                    //-             | Yes, the program is designed for participants at various levels, including beginners. It offers an opportunity to deepen your knowledge and engage with peers and experts in the field.

                    .accordion-item.mb-3
                        .accordion-header
                            button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq4", aria-expanded="false", aria-controls="faq4")
                                | How can I confirm my eligibility for a registration fee exemption?
                        .accordion-collapse.collapse#faq4
                            .accordion-body
                                | If you are unsure about your eligibility, email us with proof of enrollment or details about your institution.

                    .accordion-item.mb-3
                        .accordion-header
                            button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq5", aria-expanded="false", aria-controls="faq5")
                                | Can I pay only for accommodations or only for meals?
                        .accordion-collapse.collapse#faq5
                            .accordion-body
                                | Yes, accommodations and meals are optional, and you can choose specific services. The registration form allows you to specify your preferences.

                    .accordion-item.mb-3
                        .accordion-header
                            button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq6", aria-expanded="false", aria-controls="faq6")
                                | Are accommodations guaranteed?
                        .accordion-collapse.collapse#faq6
                            .accordion-body
                                | We are confident that accommodations and meals will be available for participants who confirm payment within the week. If there are changes, we will update availability on the website.

                    .accordion-item.mb-3
                        .accordion-header
                            button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq7", aria-expanded="false", aria-controls="faq7")
                                | How do I submit my supporting documents as payment proof ?
                        .accordion-collapse.collapse#faq7
                            .accordion-body
                                | Send your proof of payment via email to finalize your registration.

                    .accordion-item.mb-3
                        .accordion-header
                            button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq8", aria-expanded="false", aria-controls="faq8")
                                | How will I know if my poster is selected?
                        .accordion-collapse.collapse#faq8
                            .accordion-body
                                | Selected participants will receive an email confirmation by February 15, 2025.

                    .accordion-item.mb-3
                        .accordion-header
                            button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#faq9", aria-expanded="false", aria-controls="faq9")
                                | Who should I contact for further assistance about the upcoming winter school ?
                        .accordion-collapse.collapse#faq9
                            .accordion-body
                                | For any additional questions or concerns, feel free to reach out to the Winter School Organizing Team at 
                                a(href="mailto:winterschooldatascience@gmail.com") winterschooldatascience@gmail.com


        //- section.faq
            h2 FAQ
            p Below you will find answers to the most frequently asked questions about the Winter Data Science School.

            // Registration and Fees
            .faq-category
                h3 Registration and Fees

                .faq-item
                h4 Q: How much is the registration fee for PhD students?
                p The registration fee for PhD students is **300 MAD**, but this does not include meals or accommodation.

                .faq-item
                h4 Q: Are there any exemptions for registration fees?
                p Yes, PhD students from specific partner institutions, such as INPT and EMI, are eligible for free registration.
                p Please check if your institution qualifies. Proof of enrollment (e.g., student card or enrollment certificate) is required.

                .faq-item
                h4 Q: Can I register without completing the online form?
                p While the form is not mandatory, it helps us organize your preferences for meals, accommodations, and other options.
                p a(href="https://forms.gle/3vsyCLUrvvWU4tFj7", target="_blank") Register here

            // Payment and Confirmation
            .faq-category
                h3 Payment and Confirmation

                .faq-item
                h4 Q: How can I make a payment?
                p You can pay via bank transfer. Payment details for both Moroccan and international participants are listed on our website under the 
                p a(href="https://next-genai-xemines.com/registration.html", target="_blank") Payment Details section.

                .faq-item
                h4 Q: Can I pay using a mobile application?
                p Yes, if your mobile application supports bank transfers, you can use it to make the payment. Please attach proof of payment when confirming your registration.

                .faq-item
                h4 Q: What if I have trouble accessing the international bank details link?
                p The issue with the international bank details link has been resolved. The details are now accessible on our website, and they can also be provided via email upon request.

                .faq-item
                h4 Q: Will I receive a confirmation after payment?
                p Yes, once your payment and supporting documents are received and verified, you will receive an email confirming your participation. A separate email will follow with final confirmation of your accommodations and meals, if applicable.

            // Meals and Accommodation
            .faq-category
                h3 Meals and Accommodation

                .faq-item
                h4 Q: What is the cost for meals and accommodation?
                p The total cost for meals and accommodations is **794 MAD**, which includes:
                ul
                    li Two overnight stays with breakfast (24th-25th and 25th-26th February)
                    li Lunch (25th and 26th February)
                    li Dinner (24th and 25th February)

                .faq-item
                h4 Q: Can I pay only for accommodations or only for meals?
                p Yes, accommodations and meals are optional, and you can choose specific services. The registration form allows you to specify your preferences.

                .faq-item
                h4 Q: Are accommodations guaranteed?
                p We are confident that accommodations and meals will be available for participants who confirm payment within the week. If there are changes, we will update availability on the website.

                .faq-item
                h4 Q: Can I request to share a room with a colleague or friend?
                p While we understand such requests, accommodating them during the planning phase is challenging due to logistics. You can make such requests at the reception desk upon arrival, and they will assist based on availability.

            // Event Information
            .faq-category
                h3 Event Information

                .faq-item
                h4 Q: When and where is the Winter School taking place?
                p The Winter School will be held on **24-25 February 2025** at Mohammed VI Polytechnic University in Ben Guerir, Morocco.

                .faq-item
                h4 Q: What are the check-in and check-out times for accommodations?
                ul
                    li Check-in: After **14:00 GMT+1** on Sunday, 23rd February, or Monday, 24th February.
                    li Check-out: Before **12:00 GMT+1** on your departure day.

                .faq-item
                h4 Q: Is this program suitable for beginners in Generative AI?
                p Yes, the program is designed for participants at various levels, including beginners. It offers an opportunity to deepen your knowledge and engage with peers and experts in the field.

            // Cancellations and Modifications
            .faq-category
                h3 Cancellations and Modifications

                .faq-item
                h4 Q: Can I modify my reservations after submitting the form?
                p Yes, you can update your reservation details by re-submitting the form and notifying us via email. Please notify us at least two weeks before the event for logistical purposes.

                .faq-item
                h4 Q: Will I get a refund if I cancel my reservation?
                p If your cancellation impacts the logistics (e.g., meals or accommodations), notify us at least two weeks before the event to process a refund or adjustment.

            // Additional Questions
            .faq-category
                h3 Additional Questions

                .faq-item
                h4 Q: How can I confirm my eligibility for a registration fee exemption?
                p If you are unsure about your eligibility, email us with proof of enrollment or details about your institution.

                .faq-item
                h4 Q: How do I submit my supporting documents?
                p Send your proof of payment, student card, or enrollment certificate via email to finalize your registration.

                .faq-item
                h4 Q: Who should I contact for further assistance?
                p For any additional questions or concerns, feel free to reach out to the Winter School Organizing Team at 
                p a(href="mailto:winterschooldatascience@gmail.com") winterschooldatascience@gmail.com
