extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Registration'
    - var pageMainTitle = 'Event Registration Form'
    - var pageSubTitle = 'Details and Guidelines for Participants'
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container.d-flex.min-vh-100
        .mt-3
            include includes/page-header.pug
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdrh6sh7C_Rq44uj4W_4U4OtLFNTKrz5SzCBezyldZnk8a6ew/viewform?embedded=true" width="640" height="6091" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
