extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Registration'
    - var pageMainTitle = 'Event Registration'
    - var pageSubTitle = 'Details and Guidelines for Participants'
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container.d-flex.min-vh-100
        .col-0.col-lg-1.emp1 &nbsp;
        .col-12.col-lg-10.emp1.mt-3
            include includes/page-header.pug

            //- // Registration Details
            //- .m-4.text-dark
            //-     h2.text-light.mb-4 Registration Details
            //- p.text-center The Winter Data Science School is open to a variety of participants. Please check the registration options below to find the one that fits your profile.
            //- p.text-center Registration for the Winter Data Science School is now closed. See you next year !

            // Registration Fees Section
            .row.justify-content-center.mt-4
                .col-md-10
                    p.fw-bold We will accept registrations from the xxx 2025 to the xxx 2026 

                    h3.text-light.fw-bold Registration Fees (Before 10/02/2025)
                    ul
                        li 
                            span.fw-bold Students (UM6P
                            span including its constituent schools/faculties,
                            span.fw-bold École Polytechnique (X), École Centrale Casablanca, EMSI):
                            | Exempt from registration fees. Use your institutional email address to register.
                        li 
                            span.fw-bold Students from Other Engineering Schools: 
                            | May be exempt from registration fees. Contact us for an eligibility check.
                        li
                            span.fw-bold Other Students: 
                            | xxx MAD for other students. Provide proof of enrollment (enrollment certificate, student ID, or a letter from the university).
                        li 
                            span.fw-bold Teachers/Researchers: 
                            | xxx MAD for Professors or Researchers.
                        li 
                            span.fw-bold Industry Professionals: 
                            | xxx MAD for participants from the industry.

                    p.fw-light.mt-4.text-muted Please note that pre-payment of the fee is a mandatory condition for participation. Registration is definitive only upon receipt of your badge.

            // What Does Registration Cover Section
            .row.justify-content-center.mt-4
                .col-md-10
                    h3.text-light.fw-bold What Your Registration Includes
                    ul
                        li Full access to scientific conferences, round tables, and discussions on "AI for Impact."
                        li In-depth sessions on AI & Health, including a conference by Benoît Bergeret.
                        li Participation in hands-on workshops and access to the hackathon presentations.
                        li Networking opportunities with experts, engineering students, and companies.
                        li Personalized badge for full participation in all event sessions and activities.

                    p.fw-light.mt-4.text-muted Don't miss the chance to learn from the best and connect with professionals from academia and industry.

                    p.mt-4.text-muted Transportation, meals, and accommodation are not included in the registration fee. Options for accommodation and meals are detailed below for your convenience.

            // Accommodation and Canteen Meals Section
            .row.justify-content-center.mt-4
                .col-md-10
                    h3.text-light.fw-bold Accommodation and Canteen Meal Costs
                    table.table.table-bordered.text-dark.mt-4
                        thead
                            tr
                                th Scope
                                th.text-center Day Before (Sunday)
                                th.text-center Day 1 (Monday)
                                th.text-center Day 2 (Tuesday)
                        tbody
                            tr
                                td Overnight Stay (Single, including Breakfast)
                                td.text-center 250 MAD
                                td.text-center 250 MAD
                                td.text-center -
                            tr
                                td Dinner
                                td.text-center xx MAD
                                td.text-center xx MAD
                                td.text-center -
                            tr
                                td Lunch
                                td.text-center -
                                td.text-center xx MAD
                                td.text-center xx MAD
                            tr
                                td.fw-bold Subtotal
                                td.text-center 334 MAD
                                td.text-center 397 MAD
                                td.text-center xx MAD
                            tr
                                td.fw-bold Total
                                td.text-center(colspan=3) xxx MAD

                    p.mt-3.text-muted Accommodation is available at a rate of 250 MAD per night, including breakfast. Canteen Access for meals can be pre-booked at a cost of xx MAD per meal.

                    p.mt-3.text-muted The on-campus canteen is available only for those who reserve and prepay for meals. This option is highly recommended for participants' convenience, as alternative options such as restaurants, cafeterias, and food trucks are located farther from the event venue, making them less practical.

                    p.fw-light.mt-4.text-dark.fw-bold Please note:
                    ul.text-dark
                        li Accommodation is limited and will be allocated on a first-come, first-served basis.
                        li Canteen meals are optional but must be booked in advance along with registration and accommodation.
                        li The total cost of registration and accommodation including all options is 794 MAD.
                        li Prepayment is mandatory for canteen meals to secure access.

            //- // Accommodation Section
            //- .row.justify-content-center.mt-4
            //-     .col-md-10
            //-         h3.text-light.fw-bold Accommodation
            //-         p Accommodation is available at a rate of 250 MAD per night, including breakfast. Please note that places are limited and will be provided on a first-come, first-served basis.
            //-         p.fw-light.mt-3.text-muted Accommodation bookings must be made in advance. The payment for accommodation should be completed along with the event fee.

            //-         h3.text-light.fw-bold Meals
            //-         p There are several restaurants on campus. For meals, you can either pay via credit card at on-campus facilities or use cash at the canteen to purchase tickets.

            //- // Payment Details Section
            //- .row.justify-content-center.mt-4
            //-     .col-md-10
            //-         h3.text-light.fw-bold Payment Details
            //-         p Please make sure to complete your payment for the registration fee, accommodation, and meals (if applicable) in advance. You can use the following details for the bank transfer:
            //-         ul
            //-             li Account Name: Université Mohammed VI Polytechnique
            //-             li Bank: Crédit Agricole du Maroc
            //-             //- li IBAN: ABCDEFG123456789
            //-             //- li SWIFT: XYZBABC
            //-             li BIC: CNCAMAMRXXX
            //-             // li RIB: 225 810 0697240006102072 41
            //-             li RIB: please, refer to the official document, below
            //-             li Reference: NextGenAI + Your Full Name

            //-         p.mt-3.text-muted Download the bank details for your payment here: 
            //-         .col-md-10.text-center
            //-             a.btn.btn-outline-primary(target="_blank", href="/assets/pdf/rib-winter-school.pdf") Download RIB (Morocco) Details (PDF)
            //-             a.btn.btn-outline-primary(target="_blank", href="/assets/pdf/rib-winter-school-ovs.pdf") Download RIB (International) Details (PDF)

            //-         p After making the payment, please send your proof of payment to:
            //-         ul
            //-             li Email: 
            //-                 a(href="mailto:xxxx@xxxx.com") xxxx@xxxx.com
            //-             li In your email, please include: Your full name, proof of payment, and any questions you may have.

            //-         p.fw-light.mt-3.text-muted Please note that your registration is only confirmed after we receive your payment and you receive a confirmation email with your badge details.
            //-         p.mt-3.text-muted Download the bank details for your payment here: 
            //-         .col-md-10.text-center
            //-             a.btn.btn-outline-primary(target="_blank", href="/assets/pdf/rib-winter-school.pdf") Download RIB (Morocco) Details (PDF)
            //-             a.btn.btn-outline-primary(target="_blank", href="/assets/pdf/rib-winter-school-ovs.pdf") Download RIB (International) Details (PDF)

            // Call to Action Buttons Section
            .row.justify-content-center.mt-4
                .col-md-10.text-center
                    a.btn.btn-lg.btn-primary(target="_blank", href="https://forms.gle/3vsyCLUrvvWU4tFj7") Register Now
                    a.btn.btn-lg.btn-outline-secondary.ml-3(target="_blank", href="./schedule.html") View Program
            
            //- //- // Additional Info Section
            //- .m-4.text-dark.mt-5
            //-     h3.text-light.mb-4 Important Information
            //-     ul
            //-         li.pre-wrap Limited spots for accommodation - please secure your booking early.
            //-         li The only accepted payment method for accommodation and event-related expenses is by credit card.
            //-         li Cash payments are allowed in the canteen for meal tickets.
            
            //- .m-4.text-dark.mt-5
            //-     .row.justify-content-center.mt-4
            //-         p.text-center.mt-4 If you have any questions, feel free to contact us at 
            //-                 a(href="mailto:xxxx@xxxx.com") xxxx@xxxx.com

        .col-0.col-lg-1.emp1 &nbsp;
