extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Registration'
    - var pageMainTitle = 'Event Registration'
    - var pageSubTitle = 'Details and Guidelines for Participants'
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container.d-flex.min-vh-100
        .col-0.col-lg-1.emp1 &nbsp;
        .col-12.col-lg-10.emp1.mt-3
            include includes/page-header.pug

            //- // Registration Details
            //- .m-4.text-dark
            //-     h2.text-light.mb-4 Registration Details
            p.text-center The Winter Data Science School is open to a variety of participants. Please check the registration options below to find the one that fits your profile.

            // Registration Fees Section
            .row.justify-content-center.mt-4
                .col-md-10
                    h3.text-light.fw-bold Registration Fees (Before 30/01/2025)
                    ul
                        li 
                            span.fw-bold Students (UM6P & Centrale Casablanca): 
                            | Exempt from registration fees. Use your institutional email address to register.
                        li
                            span.fw-bold Other Students: 
                            | 30 € for other students. Provide proof of enrollment (enrollment certificate, student ID, or a letter from the university).
                        li 
                            span.fw-bold Teachers/Researchers: 
                            | 100 € for Professors or Researchers.
                        li 
                            span.fw-bold Industry Professionals: 
                            | 200 € for participants from the industry.

                    p.fw-light.mt-4.text-muted Please note that pre-payment of the fee is a mandatory condition for participation. Registration is definitive only upon receipt of your badge.

            // What Does Registration Cover Section
            .row.justify-content-center.mt-4
                .col-md-10
                    h3.text-light.fw-bold What Your Registration Includes
                    ul
                        li Full access to keynote speeches, round tables and discussions on AI theory and applications by top AI experts.
                        li Access to networking events, poster sessions, and the "Rail Summit" Hackathon exhibition.
                        li Personalized badge for full participation in all event sessions and activities.

                    p.fw-light.mt-4.text-muted Don't miss the chance to learn from the best and connect with professionals from academia and industry.

                    p.mt-4.text-muted Transportation, meals, and accommodation are the responsibility of participants. 

            // Accommodation Section
            .row.justify-content-center.mt-4
                .col-md-10
                    h3.text-light.fw-bold Accommodation
                    p Accommodation is available at a rate of 250 Dhs per night, including breakfast. Please note that places are limited and will be provided on a first-come, first-served basis.
                    p.fw-light.mt-3.text-muted Accommodation bookings must be made in advance. The payment for accommodation should be completed along with the event fee.

                    h3.text-light.fw-bold Meals
                    p There are several restaurants on campus. For meals, you can either pay via credit card at on-campus facilities or use cash at the canteen to purchase tickets.

            // Payment Details Section
            .row.justify-content-center.mt-4
                .col-md-10
                    h3.text-light.fw-bold Payment Details
                    p Please make sure to complete your payment for the registration fee and accommodation (if needed) in advance. You can use the following details for the bank transfer:
                    ul
                        li Account Name: Winter Data Science School
                        li Bank: XYZ Bank
                        li IBAN: ABCDEFG123456789
                        li SWIFT: XYZBABC
                        li Reference: Your Full Name + Event Fee/Accommodation

                    p After payment, please send your proof of payment to:
                    ul
                        li Email: 
                            a(href="mailto:winterschooldatascience@gmail.com") winterschooldatascience@gmail.com
                        li Include in your email: Your full name, proof of payment, and any special requests regarding accommodation.

                    p.fw-light.mt-3.text-muted Please note that your registration is only confirmed after we receive your payment and you receive a confirmation email with your badge details.

            // Call to Action Buttons Section
            .row.justify-content-center.mt-4
                .col-md-10.text-center
                    a.btn.btn-lg.btn-primary(target="_blank", href="https://forms.gle/3vsyCLUrvvWU4tFj7") Register Now
                    a.btn.btn-lg.btn-outline-secondary.ml-3(target="_blank", href="./schedule.html") View Program
            
        //- // Additional Info Section
        //- .m-4.text-dark.mt-5
        //-     h3.text-light.mb-4 Important Information
        //-     ul
        //-         li.pre-wrap Limited spots for accommodation - please secure your booking early.
        //-         li The only accepted payment method for accommodation and event-related expenses is by credit card.
        //-         li Cash payments are allowed in the canteen for meal tickets.
            
            p.text-center.mt-4 If you have any questions, feel free to contact us at 
                    a(href="mailto:winterschooldatascience@gmail.com") winterschooldatascience@gmail.com

        .col-0.col-lg-1.emp1 &nbsp;
