extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Programme'
    - var pageMainTitle = 'Schedule'
    - var pageSubTitle = "A preliminary schedule, subject to final approval from both speakers and organizers"
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.min-vh-100
        .row.mt-5
            .col-0.col-lg-1 &nbsp;
            .col-12.col-lg-10.mt-3.card.mb-4.border-0
                include includes/page-header.pug
                .card-body
                    .container.table-responsive
                        table.table.table-bordered.table-hover.text-center
                            thead
                                tr.bg-primary.text-white
                                    th 
                                        | February 24, 2025 
                                        br
                                        | EMINES Conference Center
                                    th 
                                        | February 25, 2025
                                        br
                                        | EMINES Conference Center
                            tbody
                                tr
                                    td
                                        span.conf-title.fss-5.text-secondary.fww-bold Welcome and Opening Speech
                                        br
                                        span.conf-time.text-muted.p-2 09:00 - 09:30
                                    td(rowspan="2")
                                        span.conf-title.fss-5.text-dark.fww-bold AI and Financial Applications
                                        br
                                        span.conf-time.text-muted.p-2 09:30 - 11:00
                                        br
                                        span(style="font-size:small")
                                            span.speaker-name.text-secondary Charles-Albert Lehalle,
                                            span.text-muted Professor, École Polytechnique (l’X)

                                tr
                                    td
                                        span.conf-title.fss-5.text-dark.fww-bold Generative AI: A Deep Dive into Diffusion Models
                                        br
                                        span.conf-time.text-muted.p-2 09:45 - 10:45
                                        br
                                        span(style="font-size:small")
                                            span.speaker-name.text-secondary Eric Moulines,
                                            span.text-muted Professor at Ecole Polytechnique, Adjunct Professor at MBZUAI

                                tr
                                    td
                                        span.conf-title.fss-5.text-dark.fww-bold An Alternative View on AI: Collaborative Learning, Incentives, and Social Welfare
                                        br
                                        span.conf-time.text-muted.p-2 11:00 - 12:00
                                        br
                                        span(style="font-size:small")
                                            span.speaker-name.text-secondary Michael Jordan,
                                            span.text-muted Professor at University of California, Berkeley and MBZUAI, Researcher at Inria
                                    td
                                        span.conf-title.fss-5.text-dark.fww-bold Data and Digital Transformation @ Carrefour
                                        br
                                        span.conf-time.text-muted.p-2 11:00 - 11:45
                                        br
                                        span(style="font-size:small")
                                            span.speaker-name.text-secondary Emmanuel Grenier, 
                                            span.text-muted Executive Director of E-Commerce, Data and Digital Transformation, Carrefour

                                tr
                                    td(colspan="2")
                                        span.conf-title.fss-5.text-secondary.fww-bold Lunch
                                        span.conf-time.text-muted.p-2 12:30 - 14:00

                                tr
                                    td
                                        span.conf-title.fss-5.text-dark.fww-bold Generative AI @ LightOn
                                        br
                                        span.conf-time.text-muted.p-2 14:00 - 14:55
                                        br
                                        span(style="font-size:small")
                                            span.speaker-name.text-secondary Laurent Daudet, 
                                            span.text-muted CTO, LightOn
                                    td
                                        span.conf-title.fss-5.text-light.fww-bold AI in Motion: The Future of Mobility + Best Projects Hackathon “Rail Summit” Exhibition
                                        br
                                        span.conf-time.text-muted.p-2 14:00 - 14:45
                                        br
                                        span(style="font-size:small")
                                            span.speaker-name.text-secondary Luciano Borges,
                                            span.text-muted CEO SIANA, and Young Innovators

                                tr
                                    td
                                        span.conf-title.fss-5.text-dark.fww-bold Recent Advancements in AI and Major Challenges
                                        br
                                        span.conf-time.text-muted.p-2 15:00 - 16:00
                                        br
                                        span(style="font-size:small")
                                            span.speaker-name.text-secondary Yann LeCun,
                                            span.text-muted Professor at Courant Institute NY and VP & Chief AI Scientist at Meta (ex Facebook)
                                    td
                                        span.conf-title.fss-5.text-dark.fww-bold Socio-Economic Impact of Next-Generation AI
                                        br
                                        span.conf-time.text-muted.p-2 15:00 - 16:00
                                        br
                                        span(style="font-size:small")
                                            span.speaker-name.text-secondary Benoit Bergeret, 
                                            span.text-muted Co-founder, Hub France IA, OECD Network of Experts (ONE.AI)
                                        br
                                        span.text-muted Topics
                                        span.text-muted(style="font-size:small")
                                            ul
                                                li Transformation of Key Economic Sectors Through AI
                                                li Innovation and Economic Inequalities
                                                li Impact on Entrepreneurship and Technological Innovation

                                tr
                                    td
                                        span.conf-title.fss-5.text-light.fww-bold Round Table 1: Bridging Theory and Applications in Next-Generation AI
                                        br
                                        span.conf-time.text-muted.p-2 16:10 - 17:10
                                        br
                                        span.text-muted Panelists:
                                        ul.text-muted(style="font-size:small")
                                            li 
                                                span.speaker-name Yann LeCun
                                            li 
                                                span.speaker-name Michael Jordan
                                            li 
                                                span.speaker-name Laurent Daudet
                                        //- br
                                        span.text-muted(style="font-size:small")
                                            span.text-muted Moderator: 
                                            span.speaker-name.text-secondary Eric Moulines
                                    td(rowspan="2")
                                        span.conf-title.fss-5.text-light.fww-bold Round Table 2: "Enterprise: What’s the Real Value?”
                                        br
                                        span.conf-time.text-muted.p-2 16:00 - 17:30
                                        br
                                        span.text-muted Panelists:
                                        ul.text-muted(style="font-size:small")
                                            li 
                                                | E-Commerce, Data and Digital Transformation in Retail, 
                                                span.speaker-name Emmanuel Grenier
                                                | Carrefour
                                            li 
                                                | AI Consulting and Development Firm, 
                                                span.speaker-name Jawad Alaoui, 
                                                | Norma
                                            li 
                                                | Telecommunications and Digital Innovation Leader, 
                                                span.speaker-name Jean-François Thomas, 
                                                | Orange EMEA
                                            li 
                                                | Asset Management and Financial Technology Expert, 
                                                span.speaker-name Nabil Cherrat, 
                                                | Amundi
                                            li 
                                                | Digital Transformation, Innovation and R&D in the railway industry, 
                                                span.speaker-name Mohamed Sedki, 
                                                | ONCF
                                        //- br
                                        span.text-muted(style="font-size:small")
                                            span.text-muted Moderator
                                            span.speaker-name.text-secondary Benoit Bergeret

                                tr
                                    td
                                        span.conf-title.fss-5.text-light.fww-bold Poster Session
                                        br
                                        span.conf-time.text-muted.p-2 17:15 - 18:00

                        div
                            a.btn.btn-outline-primary.mt-5.w-100(href="./assets/visual/schedule-ai-conference-2025.pdf" target="_blank" download="Next-Generation-AI-2025-Programme")
                                i.fas.fa-file-pdf
                                |  Download the full schedule
            .col-0.col-md-1 &nbsp;
