extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Programme'
    - var pageMainTitle = 'Schedule'
    - var pageSubTitle = "A preliminary schedule, subject to final approval from both speakers and organizers"
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.min-vh-100
        .row.mt-5
            .col-0.col-lg-1 &nbsp;
            .col-12.col-lg-10.mt-3.card.mb-4.border-0
                include includes/page-header.pug
                .card-body
                    .container.table-responsive
                        table.table.table-bordered.table-hover.text-center
                            thead
                                tr.bg-primary.text-white
                                    th Day 1: February 24, 2025 (EMINES Conference Center)
                                    th Day 2: February 25, 2025 (EMINES Conference Center)
                            tbody
                                tr
                                    td.bgg-secondary.text-white.p-2.rounded-pilll
                                        | 09:00 - 09:30
                                        br
                                        span.fs-5.text-secondary.font-weight-bold Welcome and Opening Speech
                                    td &nbsp; // Empty cell for Day 2

                                tr
                                    td.bgg-dark.text-white.p-2.rounded-pilll
                                        | 09:45 - 10:45
                                        br
                                        span.fs-5.text-dark.font-weight-bold Generative AI: A Deep Dive into Diffusion Models
                                        br
                                        span.text-muted Eric Moulines, Professor at Ecole Polytechnique, Adjunct Professor at Mohamed Bin Zayed University of AI (MBZUAI)
                                    td.bgg-dark.text-white.p-2.rounded-pilll
                                        | 09:30 - 11:00
                                        br
                                        span.fs-5.text-dark.font-weight-bold AI and Financial Applications
                                        br
                                        span.text-muted Charles-Albert Lehalle, Professor, École Polytechnique (l’X)

                                tr
                                    td.bgg-dark.text-white.p-2.rounded-pilll
                                        | 11:00 - 12:00
                                        br
                                        span.fs-5.text-dark.font-weight-bold An Alternative View on AI: Collaborative Learning, Incentives, and Social Welfare
                                        br
                                        span.text-muted Michael Jordan, Professor at University of California, Berkeley and MBZUAI, Researcher at Inria
                                    td.bgg-dark.text-white.p-2.rounded-pilll
                                        | 11:00 - 11:45
                                        br
                                        span.fs-5.text-dark.font-weight-bold Data and Digital Transformation @ Carrefour
                                        br
                                        span.text-muted Emmanuel Grenier, Executive Director of E-Commerce, Data and Digital Transformation, Carrefour

                                tr
                                    td.bgg-secondary.text-white.p-2.rounded-pilll
                                        | 12:30 - 14:00
                                        br
                                        span.fs-5.text-secondary.font-weight-bold Lunch
                                    td.bgg-secondary.text-white.p-2.rounded-pilll
                                        | 12:30 - 14:00
                                        br
                                        span.fs-5.text-secondary.font-weight-bold Lunch

                                tr
                                    td.bgg-dark.text-white.p-2.rounded-pilll
                                        | 14:00 - 14:55
                                        br
                                        span.fs-5.text-dark.font-weight-bold Generative AI @ LightOn
                                        br
                                        span.text-muted Laurent Daudet, CTO, LightOn
                                    td.bgg-light.text-white.p-2.rounded-pilll
                                        | 14:00 - 14:45
                                        br
                                        span.fs-5.text-light.font-weight-bold AI in Motion: The Future of Mobility + Best Projects Hackathon “Rail Summit” Exhibition
                                        br
                                        span.text-muted Luciano Borges, CEO SIANA, and Young Innovators

                                tr
                                    td.bgg-dark.text-white.p-2.rounded-pilll
                                        | 15:00 - 16:00
                                        br
                                        span.fs-5.text-dark.font-weight-bold Recent Advancements in AI and Major Challenges
                                        br
                                        span.text-muted Yann LeCun, Professor at Courant Institute NY and VP & Chief AI Scientist at Meta (ex Facebook)
                                    td.bgg-dark.text-white.p-2.rounded-pilll
                                        | 15:00 - 16:00
                                        br
                                        span.fs-5.text-dark.font-weight-bold Socio-Economic Impact of Next-Generation AI
                                        br
                                        span.text-muted Benoit Bergeret, Co-founder, Hub France IA, OECD Network of Experts (ONE.AI)
                                        br
                                        span.fs-6.text-muted
                                            | Topics:
                                            ul
                                                li Transformation of Key Economic Sectors Through AI
                                                li Innovation and Economic Inequalities
                                                li Impact on Entrepreneurship and Technological Innovation

                                tr
                                    td.bgg-light.text-white.p-2.rounded-pilll
                                        | 16:10 - 17:10
                                        br
                                        span.fs-5.text-light.font-weight-bold Round Table 1: Bridging Theory and Applications in Next-Generation AI
                                        br
                                        span.text-muted Panelists:
                                        ul
                                            li Yann LeCun
                                            li Michael Jordan
                                            li Laurent Daudet
                                        br
                                        span Moderator: Eric Moulines
                                    td.bgg-light.text-white.p-2.rounded-pilll
                                        | 16:00 - 17:30
                                        br
                                        span.fs-5.text-light.font-weight-bold Round Table 2: "Enterprise: What’s the Real Value?”
                                        br
                                        span.text-muted Panelists:
                                        ul
                                            li E-Commerce, Data and Digital Transformation in Retail, Emmanuel Grenier, Carrefour
                                            li AI Consulting and Development Firm, Jawad Alaoui, Norma
                                            li Telecommunications and Digital Innovation Leader, Jean-François Thomas, Orange EMEA
                                            li Asset Management and Financial Technology Expert, Nabil Cherrat, Amundi
                                            li Digital Transformation, Innovation and R&D in the railway industry, Mohamed Sedki, ONCF
                                        br
                                        span Moderator: Benoit Bergeret

                                tr
                                    td.bgg-light.text-white.p-2.rounded-pilll
                                        | 17:15 - 18:00
                                        br
                                        span.fs-5.text-light.font-weight-bold Poster Session
                                    td &nbsp; // Empty cell for Day 2

                        div
                            a.btn.btn-outline-primary.mt-5.w-100(href="./assets/visual/schedule-ai-conference-2025.pdf" target="_blank" download="Next-Generation-AI-2025-Programme")
                                i.fas.fa-file-pdf
                                |  Download the full schedule
            .col-0.col-md-1 &nbsp;
