extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Programme'
    - var pageMainTitle = 'Schedule'
    - var pageSubTitle = "A preliminary schedule, subject to final approval from both participants and organizers"
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.min-vh-100
        .row.mt-5
            .col-0.col-lg-1 &nbsp;
            .col-12.col-lg-10.mt-3.card.mb-4.border-0
                include includes/page-header.pug
                .card-body
                    .container.timeline.hover-effect

                        // Day 1 - 24 February 2025
                        h3.text-center.text-primary.mt-5 Day 1: February 24, 2025 (EMINES Conference Center)
                        h4.text-center.text-muted.mb-4 Next Generation AI and Economic Applications
                        hr

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .time-header.col-12.col-md-2.bg-secondary.text-dark.p-2.rounded-pill 09:00 - 09:30
                            .theme-header.col-12.col-md-10.fs-5.align-self-center.text-secondary.font-weight-bold Welcome and Opening Speech

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .yy.time-header.col-12.col-md-2.bg-light.text-white.p-2.rounded-pill 09:45 - 10:45
                            .yy.theme-header.col-12.col-md-10.fs-5.align-self-center.text-light.font-weight-bold Generative AI: A Deep Dive into Diffusion Models
                            .col-0.col-md-2
                            .col-12.col-md-10.text-muted
                                span Eric Moulines, Professor, École Polytechnique (l’X)

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .yy.time-header.col-12.col-md-2.bg-light.text-white.p-2.rounded-pill 11:00 - 12:00
                            .yy.theme-header.col-12.col-md-10.fs-5.align-self-center.text-light.font-weight-bold An Alternative View on AI: Collaborative Learning, Incentives, and Social Welfare
                            .col-0.col-md-2
                            .col-12.col-md-10.text-muted
                                span Michael Jordan, Prof at University of California, Berkeley and MBZUAI, Researcher at Inria

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .time-header.col-12.col-md-2.bg-secondary.text-dark.p-2.rounded-pill 12:30 - 14:00
                            .theme-header.col-12.col-md-10.fs-5.align-self-center.text-secondary.font-weight-bold Lunch

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .yy.time-header.col-12.col-md-2.bg-light.text-white.p-2.rounded-pill 14:00 - 14:50
                            .yy.theme-header.col-12.col-md-10.fs-5.align-self-center.text-light.font-weight-bold Diffusion Models at Work: Deep Prior for Inverse Problems
                            .col-0.col-md-2
                            .col-12.col-md-10.text-muted
                                span Eric Moulines, Professor, École Polytechnique (l’X)

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .yy.time-header.col-12.col-md-2.bg-light.text-white.p-2.rounded-pill 15:00 - 16:00
                            .yy.theme-header.col-12.col-md-10.fs-5.align-self-center.text-light.font-weight-bold Recent Advancements in AI and Major Challenges
                            .col-0.col-md-2
                            .col-12.col-md-10.text-muted
                                span Yann LeCun, Prof at Courant Institute NY and VP & Chief AI Scientist at Meta (ex Facebook)

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .xx.time-header.col-12.col-md-2.bg-dark.text-white.p-2.rounded-pill 16:10 - 17:10
                            .xx.theme-header.col-12.col-md-10.fs-5.align-self-center.text-dark.font-weight-bold Round Table 1: Bridging Theory and Applications in Next-Generation AI
                            .col-0.col-md-2
                            .col-12.col-md-10.text-muted
                                span Panelists:
                                ul
                                    li Yann LeCun, Prof at Courant Institute NY and VP & Chief AI Scientist at Meta (ex Facebook)
                                    li Michael Jordan, Prof at University of California, Berkeley and MBZUAI, Researcher at Inria
                                span Moderator: Eric Moulines

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .xx.time-header.col-12.col-md-2.bg-dark.text-white.p-2.rounded-pill 17:15 - 18:00
                            .xx.theme-header.col-12.col-md-10.fs-5.align-self-center.text-dark.font-weight-bold Poster Session

                        // Day 2 - 25 February 2025
                        h3.text-center.text-primary.mt-5 Day 2: February 25, 2025 (EMINES Conference Center)
                        h4.text-center.text-muted.mb-4 Next Generation AI and Economic Applications
                        hr

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .yy.time-header.col-12.col-md-2.bg-light.text-white.p-2.rounded-pill 09:30 - 11:30
                            .yy.theme-header.col-12.col-md-10.fs-5.align-self-center.text-light.font-weight-bold AI and Financial Applications
                            .col-0.col-md-2
                            .col-12.col-md-10.text-muted
                                span Charles-Albert Lehalle, Professor, École Polytechnique (l’X)

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .yy.time-header.col-12.col-md-2.bg-light.text-white.p-2.rounded-pill 11:45 - 12:30
                            .yy.theme-header.col-12.col-md-10.fs-5.align-self-center.text-light.font-weight-bold AI in Morocco
                            .col-0.col-md-2
                            .col-12.col-md-10.text-muted
                                span AI Movement

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .time-header.col-12.col-md-2.bg-secondary.text-dark.p-2.rounded-pill 12:30 - 14:00
                            .theme-header.col-12.col-md-10.fs-5.align-self-center.text-secondary.font-weight-bold Lunch

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .yy.time-header.col-12.col-md-2.bg-light.text-white.p-2.rounded-pill 14:00 - 16:00
                            .yy.theme-header.col-12.col-md-10.fs-5.align-self-center.text-light.font-weight-bold Socio-Economic Impact of Next-Generation AI
                            .col-0.col-md-2
                            .col-12.col-md-10.text-muted
                                span Benoit Bergeret, Co-founder, Hub France IA, OECD Network of Experts (ONE.AI)
                                br
                                span Topics:
                                ul
                                    li Transformation of Key Economic Sectors Through AI
                                    li Innovation and Economic Inequalities
                                    li Impact on Entrepreneurship and Technological Innovation
                        
                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .xx.time-header.col-12.col-md-2.bg-dark.text-white.p-2.rounded-pill 15:00 - 16:00
                            .xx.theme-header.col-12.col-md-10.fs-5.align-self-center.text-dark.font-weight-bold Round Table 2: "Enterprise: What’s the Real Value?” AI Consulting and Development Firm
                            .col-0.col-md-2
                            .col-12.col-md-10.text-muted

                                span Panelists:
                                ul
                                    li Jawad Alaoui, Norma, Telecommunications and Digital Innovation Leader
                                    li Jean-François Thomas, Orange EMEA, Asset Management and Financial Technology Expert
                                    li Nabil Cherrat, Amundi, Investment Product Strategy Expert
                                span Moderator: Benoit Bergeret

                        .timeline-item.feature-hover.mt-4.d-flex.align-items-baseline.flex-column.flex-md-row.row
                            .xx.time-header.col-12.col-md-2.bg-dark.text-white.p-2.rounded-pill 16:10 - 18:10
                            .xx.theme-header.col-12.col-md-10.fs-5.align-self-center.text-dark.font-weight-bold AI in Motion: The Future of Mobility + Best Projects Hackathon “Rail Summit” Exhibition
                            .col-0.col-md-2
                            .col-12.col-md-10.text-muted
                                span Luciano Borges, CEO SIANA (Moroccan Company for High-Speed Train Maintenance), and his team
                                span Young Innovators
                        
                        div
                            a.btn.btn-outline-primary.mt-5.w-100(href="./assets/visual/schedule-ai-conference-2025.pdf" target="_blank" download="Next-Generation-AI-2025-Programme")
                                i.fas.fa-file-pdf
                                |  Download the full schedule
            .col-0.col-md-1 &nbsp;
