// 
// Topnav
// 

.sb-topnav {
    padding-left: 0;
    height: $topnav-base-height;
    z-index: $zindex-topnav;
    background-color: $dark;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 41, 55, 0.15);

    .navbar-brand {
        width: $sidenav-base-width;
        padding-left: $navbar-padding-x;
        padding-right: $navbar-padding-x;
        margin: 0;
    }

    &.navbar-dark {
        #sidebarToggle {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    &.navbar-light {
        #sidebarToggle {
            color: $gray-500;
        }
    }
}