// 
// Global
// 

// :root {
//   --bs-dark-rgb:78, 196, 169;
//   --bs-bg-opacity: 0.5;
//  }

:root {
    --bs-secondary-rgb: 78, 196, 169;
    --bs-primary-rgb: 1, 51, 68;
    --bs-light-rgb: 78, 196, 169;
    --bs-dark-rgb: 1, 51, 68;
    --bs-light: rgb(255, 255, 255);
    --bs-dark: rgb(1, 51, 68);
    --bs-primary: rgb(1, 51, 68);
    --bs-secondary: rgb(78, 196, 169);
    // --bs-link-color: #5b57a6;
}

html,
body {
    height: 100%;
    color: var(--bs-dark);
}


.smaller {
    font-size: 0.5rem;
}

.navbar-dark {
    --bs-bg-opacity: 0.5;
}

.sb-sidenav-dark {
    background-color: var(--bs-dark) !important;
    height: 100%;
}

.sb-sidenav-toggled a.navbar-brand {
    background-color: unset !important;
    justify-content: center;
}

/* schedule */

.time-header {
    color: var(--bs-secondary); /* Blue color for time */
    min-width: 8rem;
    text-align: center;
}
.theme-header {
    color: var(--bs-primary); /* Green color for theme */
}

/* posters */

.post_conferencier {
    margin-bottom: 20px;
}

.post_titre_posters {
    font-size: 20px;
    font-weight: bold;
}

.post_auteur_posters {
    font-style: italic;
}
