// 
// Global
// 

// :root {
//   --bs-dark-rgb:255, 87, 87;
//   --bs-bg-opacity: 0.5;
//  }

:root {
    --bs-primary-rgb: 114, 13, 168;
    --bs-primary: rgb(114, 13, 168);
    --bs-secondary-rgb: 92, 225, 230;
    --bs-secondary: rgb(92, 225, 230);
    --bs-light-rgb: 255, 87, 87;
    --bs-light: rgb(255, 87, 87);
    --bs-dark-rgb: 140, 82, 255;
    --bs-dark: rgb(140, 82, 255);
    // --bs-link-color: #5b57a6;
}


// :root {
//     --bs-secondary-rgb: 255, 87, 87;
//     --bs-primary-rgb: 114, 13, 168;
//     --bs-light-rgb: 255, 87, 87y
//     --bs-dark-rgb: 114, 13, 168;
    
//     --bs-light: rgb(255, 255, 255);
//     --bs-dark: rgb(114, 13, 168);
//     --bs-primary: rgb(114, 13, 168); #volet
//     --bs-secondary: rgb(255, 87, 87); #orange
// 255, 87, 87
    
//     /* Removed the comment on the following line to activate the link color */
//     // --bs-link-color: #5b57a6;
// }
// 255, 87, 87 (vert) --> 255, 87, 87 (orange)
// 78, 196, 169 --> 92, 225, 230 (vert)
// 114, 13, 168 (ancien) --> 114, 13, 168 (violet)
// --> 140, 82, 255 (violet ligh)
html,
body {
    height: 100%;
    color: var(--bs-dark);
}


.smaller {
    font-size: 0.5rem;
}

.navbar-dark {
    --bs-bg-opacity: 0.5;
}

.sb-sidenav-dark {
    background-color: var(--bs-dark) !important;
    height: 100%;
}
.sb-sidenav-light {
    background-color: #ffffff !important;
    color: var(--bs-dark) !important;
    height: 100%;
}

.sb-sidenav-toggled a.navbar-brand {
    background-color: unset !important;
    justify-content: center;
}

/* schedule */

.time-header {
    color: var(--bs-secondary); /* Blue color for time */
    min-width: 8rem;
    text-align: center;
}
.theme-header {
    color: var(--bs-primary); /* Green color for theme */
}

/* posters */

.post_conferencier {
    margin-bottom: 20px;
}

.post_titre_posters {
    font-size: 20px;
    font-weight: bold;
}

.post_auteur_posters {
    font-style: italic;
}
.partner-logo img {
    max-height: 9rem;
    max-width: 12rem;
    width: auto; /* Ensures the image maintains its aspect ratio */
    height: auto; 
    object-fit: contain; /* Ensures the image fits within the box without distortion */
}
